.fade {
  position: absolute;
  width: 100%;
  min-height: 60vh;
  top: -25px;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}

.crawl-section {
  perspective: 200px;
  font-family: "Pathwat Gothic One", sans-serif;
  font-weight: 600;
}

.crawl {
  position: relative;
  top: -100px;
  transform-origin: 50% 100%;
  animation: crawl 20s linear;
  animation-iteration-count: infinite;
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -1200px;
    transform: rotateX(22deg) translateZ(-300px);
  }
}
