@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .item{
    perspective: 100px
  }
  .active-item {
    color: white;
    text-shadow: 2px 2px #feda4a, -2px -2px #feda4a;
  }
  @supports (-webkit-text-stroke: 1px #feda4a) {
    .active-item {
      color: transparent;
      -webkit-text-stroke: 2px #feda4a;
      text-shadow: none;
    }
  }
}

.scrollbar::-webkit-scrollbar {
    width: .1em;
    height: 20px;
  }

.scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
    background: #1B7DEB;
}